jumbotron
{
	 display: flex;
  align-items: center;
  background: url(\rahul.jpg) fixed center no-repeat;
  background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;

  background-size: cover;
  color: #ffffff;
  height: 1000px;
  text-shadow: 0.25px 0.25px 0.25px #000000; 
}
.jumbotron h1 {
  font-size: 50px;
  font-weight: 600;
  margin: 0;
  color: black;
  text-align: center;
   padding-left: 170px;
    padding-top: 3px;
    padding-bottom: 3px;
}

jumbotron p {
  margin: ;
  color: #fff;
}
jumbotron{background: url(\rahul.jpg) fixed center no-repeat;
	background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    color: #FFF; // change text color
}
carousel {
  width:640px;
  height:200px;
}
.nav-item{
	padding-left: 150px;
}
#qr{
	padding-right: 50px;
}